<ng-container [formGroup]="group()">
  <mat-form-field
    class="example-full-width"
    [appearance]="IAppearance() || 'outline'"
    [floatLabel]="IFloatLabel() || 'never'"
  >
    <mat-label>{{ ILabel() }}</mat-label>
    <input
      [type]="hide ? 'text' : 'password'"
      matInput
      [name]="IName()"
      [placeholder]="Iplaceholder()"
      [formControlName]="IName()"
    />
    <button
      disableRipple="true"
      type="button"
      mat-icon-button
      matSuffix
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
      (click)="hide = !hide"
      class="visibility-icon"
    >
      <mat-icon matSuffix>{{
        hide ? "visibility" : "visibility_off"
      }}</mat-icon>
    </button>
    @if (group().get(IName())?.hasError("required")) {
      <mat-error> Please enter password </mat-error>
    }
    @if (group().get(IName())?.hasError("pattern")) {
      <mat-error> Please enter valid password </mat-error>
    }
    @if (group().get(IName())?.hasError("notSame")) {
      <mat-error>Passwords must match</mat-error>
    }
  </mat-form-field>
</ng-container>
